.topbar {
  height: 60px;
  background-color: #fff;
  padding-inline: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.topbar-logo {
  width: 35px;
  position: relative;
  top: 1px;
}

.search-form {
  flex: 1;
  position: relative;
}

.search-form > input {
  background-color: #eef3f8;
  height: 36px;
  width: 260px;
  border: none;
  border-radius: 4px;
  padding-inline: 40px;
  font-size: 14px;
}

.search-icon {
  font-size: 17px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.topbar-icon {
  font-size: 27px;
  color: #585858;
}

.topbar-icon:hover {
  cursor: pointer;
  color: #000;
}

.profile-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
