.modal-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.modal-container {
  margin-top: 40px;
  width: 600px;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.cross-btn {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-title > h1 {
  font-size: 20px;
  font-weight: 400;
}

.modal-input {
  resize: none;
  width: 100%;
  flex: 1;
  border: none;
  font-size: 16px;
}

.post-btn,
.save-changes-btn {
  align-self: flex-end;
  padding: 7px 18px;
  background-color: #ebebeb;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.active {
  background-color: #0a66c2;
  color: #fff;
  border: 1px solid #0a66c2;
}
