.post-card {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 22px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-link {
  align-self: flex-start;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 40px;
}

.like-btn,
.comment-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.like-icon,
.unlike-icon {
  font-size: 25px;
}

.like-button > span {
  font-weight: 500;
}

.liked {
  color: #378fe9;
}

.comment-icon {
  font-size: 22px;
  position: relative;
  top: 2px;
}
