.post-card {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.like-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.like-icon,
.unlike-icon {
  font-size: 25px;
}

.like-button > span {
  font-weight: 500;
}

.liked {
  color: #378fe9;
}
