.userfeed {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.create-post-card {
  max-width: 800px;
  width: 100%;
  height: 120px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 30px;
}

.create-post-card > img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.open-modal-btn {
  flex: 1;
  background-color: #fff;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  text-align: left;
  padding-inline: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.open-modal-btn:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.posts {
  max-width: 800px;
  width: 100%;
}
