.profile-feed {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-card {
  max-width: 800px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 24px;
  position: relative;
}

.edit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.image-upload {
  width: 160px;
  height: 160px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.camera-icon {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.5);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-info-top {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info-left > *,
.profile-info-right > * {
  margin-bottom: 10px;
}

.profile-info-left {
  width: 60%;
}

.username {
  font-size: 24px;
  font-weight: 500;
}

.headline {
  line-height: 1.5;
}

.about {
  line-height: 1.5;
}

.skills {
  margin-top: 15px;
}

.skills > span {
  font-weight: 500;
}
