.comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.comment > img {
  height: 47px;
  width: 47px;
  border-radius: 50%;
}

.comment-card {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 7px;
  position: relative;
}

.comment-card-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.comment-card-header > a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.comment-card-header > a:hover {
  color: #0a66c2;
}

.comment-author {
  color: #fff;
  background-color: #56687a;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 3px;
}

.comment-timestamp {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  align-self: flex-start;
  position: absolute;
  right: 45px;
}

.three-dots {
  align-self: flex-start;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.comment-headline {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.comment-popup {
  position: absolute;
  top: 35px;
  right: 20px;
  background-color: #fff;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.comment-popup > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
