.popup-card {
  position: absolute;
  right: 100px;
  top: 55px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 350px;
  height: auto;
  padding: 18px 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.bio {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5;
}

.popup-card-btns {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-card-btns > button {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #0a66c2;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #0a66c2;
  cursor: pointer;
}
