.comment-box {
  margin-top: 10px;
}

.add-comment-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-comment-form > img {
  height: 47px;
  width: 47px;
  border-radius: 50%;
}

.add-comment-form > input {
  height: 45px;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding-inline: 20px;
  font-size: 15px;
}

.add-comment-btn {
  height: 40px;
  border-radius: 30px;
  padding-inline: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.active {
  border: 1px solid #0a66c2;
}

.comments {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
